@font-face {
  font-family: "Cosmonaut";
  src: url('../../resources/fonts/Cosmonaut.ttf');
}

.container {
  position: absolute;
  left: 10px;
  text-align: center;
}

.logo {
  text-align: center;
  width: 100%;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.loginForm {
  width: 80%;
  margin: 0 auto;
}

.loginForm label {
  font-weight: 700;
  line-height: 98px;
  display: inline-block;
  padding: 3px 6px;
  text-align: right;
  width: 100px;
  vertical-align: top;
}

.loginForm input {
  line-height: 30px;
  margin: 30px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 4px 8px;
  box-shadow: 1px 1px 2px #fff;
  border-radius: 4px;
  width: 200px;
  caret-color: #fff;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}

.button-info {
  display: flex;
  border-style: solid;
  border-width: 3px;
  border-color: #fff;
  border-radius: 50px;
  background-color: transparent;
  width: 255px;
  height: 65px;
  padding: 0 15px;
  align-items: center;
  justify-content: center;
}

.button-info:hover {
  text-decoration: none;
  background-color: rgba(17,104,167,.8);
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
a {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.button-info p {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
