.sidebar a {
  color: #000 !important;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: #f8f9fa!important;
  flex-direction: column;
  flex: 0 0 16.666667%;
  width: 100%;
  max-width: 16.666667%;
}

.navLink:active, .navLink:focus {
  color: #007bff !important;

}
.sidebar .nav-link.active {
  color: #007bff !important;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
  color: inherit;
  margin-right: 4px;
}

.fixsvg {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
  color: #000;
  margin-right: 4px;
  position: fixed;
  top: 156px;
  left: 16px;
}

.logo {
  width: 130px;
  position: fixed;
  top: 15px;
}

.offsetLeft {
  padding-left: 1.25rem;
}
